<mat-card>
    <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createBlogpost(formDirective)">
        <div class="example-container">  
            <mat-form-field>
                <input matInput placeholder="title" required formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="subtitle" required formControlName="subtitle">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="content" required formControlName="content"></textarea>
            </mat-form-field>
            <button mat-button type="submit">Create</button>
        </div>
    </form>
</mat-card>
